/* ==================== main ==================== */
.billboard {
    height: 300px;
    margin-bottom: 30px;
}

.billboard div {
    float: left;
    overflow:hidden;
    margin:0 auto;
}

.billboard-left {
    width: 840px; height: 100%;
}

.billboard-right {
    width: 440px; height: 100%;
}

.billboard img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.contents section {
    margin-bottom: 70px;  /* 간격 */
}

.section-title {
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.news-section, .recommend-box, .art-box {
    background-color: white;
    box-shadow: 0 0 0 1px #cccccc inset;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 15px;  /* 콘텐츠-버튼 간격 */
    padding: 24px 20px 20px 20px;
    overflow: auto;
}

.plus {
    background-color:#f5ce00;
    box-shadow: 0 0 0 1px #cccccc inset;
    width: 500px; height: 50px;
    margin: 0 auto;
    border-radius: 15px;
    text-align: center;
    line-height : 50px;
    font-size: 1.1rem;
    font-weight: bold;
}

.plus a {
    display: block;
    width: 100%; height: 100%;
}

/* ==================== main > Pixel Game News ==================== */
.news-section-left, .news-section-right {
    float: left;
}

.news-section-left {
    width: 50%;
}

.news-section-right {
    width: 50%;
}

.news-section article {
    padding: 8px;
}

.news-section article a {
    display: block;
    height: 124px;
}

.news-section article a div {
    float: left;
}

.news-img-box {
    height: 100%; width: 250px;
    overflow:hidden;
    margin:0 auto;
    border-radius: 10px;
}

.news-img-box img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.news-content-box {
    height: 100%; width: 354px;
    box-sizing: border-box;
    padding: 8px 10px;
}

.news-section h3 {
    font-size: 1.2rem;
    width: 100%;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-section p {
    font-size: 1rem;
    margin-top: 8px;
    width: 100%; height: 70px;

    /* 한 줄 자르기 */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /* 여러 줄 자르기 추가 스타일 */
    white-space: normal;
    line-height: 1.4;
    height: 4.2em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* ==================== main > Today's Pixel Game Recommendation ==================== */
.recommend-box article {
    background-color: whitesmoke;
    box-sizing: border-box;
    width: 200px; height: 400px;
    float: left;
}

.recommend-box article:not(:last-child) {
    margin-right: 8px;
}

.recommend-game-img-box {
    width: 100%; height: 300px;
    overflow:hidden;
    margin:0 auto;
}

.recommend-game-img-box img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.recommend-box article h3, .recommend-box article p {
    height: 42px;
    line-height: 42px;
    padding: 4px;
}

.recommend-box article h3 {
    padding-left: 10px;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recommend-box article p {
    text-align: right;
    padding-right: 10px;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ==================== main > Pixel Art Gallery ==================== */
.art-gallery-box article {
    width: 304px;
    height: 304px;
    float: left;
    background-color: whitesmoke
}
.art-gallery-box-top article:not(:last-child), .art-gallery-box-bottom article:not(:last-child) {
    margin-right: 8px;
}

.art-gallery-box-top article {
    margin-bottom: 8px;
}

.art-gallery-box article a {
    display: block;
    height: 100%;
}

.art-gallery-img-box {
    width: 100%; height: 100%;
    overflow:hidden;
    margin:0 auto
}
.art-gallery-img-box img {
    width:100%;
    height:100%;
    object-fit:cover;
}